h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
body{
    margin: 0;
    width: 480px;
}
.visuali_hidden{
    display: none;
}
.conteiner{
    display: flex;
    justify-content: flex-start;
}
.page-body{
    height: 60px;
}
.logo{
    width: 134px;
    height: 28px;  
    margin-left: 15px;
    margin-top: 16px;
}
.web{
    font-size: 26px;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}
.stuidio{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: black;
}
.logo2{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 15px 10px 276px;
}
.menu-logo-1{
    width: 24px;
    height: 16px;
    text-decoration: none;
    color: black;
}

.nav-2{
    margin-top: 94px;
}
.main-nav-ul{
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}
.li1-a{
    color: #212121;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    height: 38px;
    border-radius: 4px;
    background-color: #f5f4fa;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.li1-a{
    width: 73px;
    margin-bottom: 15px;
}
.li1-a2{
    width: 128px;
    margin-bottom: 15px;
}
.li1-a3{
    width: 145px;
    margin-bottom: 15px;
}
.li1-a4{
    width: 103px;
}
.li1-a5{
    width: 130px;
}
.li1-a:hover{
    background-color: #2196F3;
    color: white;
}
footer{
    width: 480px;
    height: 603px;
    background-color: #2F303A;
    padding-top: 60px;
}
.logo-f{
    margin-top: 60px;
    margin-left: 163px;
}
.web-1{
    font-size: 24px;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}
.stuidio-1{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: white;
}
.footer-h3{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 180px;
    margin-top: 60px;
}
.svg-image{
    display: flex;
    justify-content: center;
}
.img-ul-footer{
    width: 20px;
    height: 20px;
    fill: white;
}
.abc-footer{
    width: 44px;
    height: 44px;
    background-color:#757575;
    border-radius: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.abc-footer:last-child{
    margin-right: 0;
}
.abc-footer:hover{
    background-color: #2196F3;
}
.ul-footer li:first-child{
    margin-top: 20px;
    color: white;
}
.ul-footer li{
    margin: 9px 0 0 -25px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.misto-footer{
    color: white;
    font-weight: 400;
    font-size: 14px;   
}

