h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
body{
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 480px) and (max-width:768px){
    .visuali_hidden{
        display: none;
    }
    .conteiner{
        display: flex;
        justify-content: space-between;
    }
    .page-body{
        height: 60px;
        width: 100%;
    }
    .logo{
        width: 134px;
        height: 28px;  
        margin-top: 16px;
    }
    .web{
        font-size: 26px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: black;
    }
    .logo2{
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .menu-logo-1{
        width: 24px;
        height: 16px;
        text-decoration: none;
        color: black;
    }
    .nav-2{
        margin-top: 94px;
    }
    .main-nav-ul{
        display: flex;
        flex-wrap: wrap;
        margin-left: 15px;
    }
    .li1-a{
        color: #212121;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 38px;
        border-radius: 4px;
        background-color: #f5f4fa;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .li1-a{
        width: 73px;
        margin-bottom: 15px;
    }
    .li1-a2{
        width: 128px;
        margin-bottom: 15px;
    }
    .li1-a3{
        width: 145px;
        margin-bottom: 15px;
    }
    .li1-a4{
        width: 103px;
    }
    .li1-a5{
        width: 130px;
    }
    .li1-a:hover{
        background-color: #2196F3;
        color: white;
    }
    .li-photo{
        position: relative;
        width: 450px;
        height: 404px;
        border:1px solid #EEEEEE;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        transition: box-shadow .3s ease-in-out;
    }
    .li-photo:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .li-photo:last-child{
        margin-bottom: 60px;
    }
    .overflow{
        width: 402px;
        height: 168px;
        padding: 63px 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        position: absolute;
        bottom: 108px;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    .li-photo:hover .overflow{
        opacity: 1;
    }
    .li-photo-h3{
        width: 402px;
        height: 36px;
        margin: 20px 24px 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #212121;
    }
    .li-photo-p{
        width: 402px;
        height: 30px;
        margin: 0 24px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #757575;
    }
    footer{
        width: 100%;
        height: 603px;
        background-color: #2F303A;
        padding-top: 60px;
    }
    .logo-f{
        margin-top: 60px;
    }
    .web-1{
        font-size: 24px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio-1{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        color: white;
    }
    .footer-h3{
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-top: 60px;
    }
    .img-ul-footer{
        width: 20px;
        height: 20px;
        fill: white;
    }
    .abc-footer{
        width: 44px;
        height: 44px;
        background-color:#757575;
        border-radius: 100px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .abc-footer:last-child{
        margin-right: 0;
    }
    .abc-footer:hover{
        background-color: #2196F3;
    }
    .ul-footer li:first-child{
        margin-top: 20px;
        color: white;
    }
    .ul-footer li{
        padding-top: 9px;
        color: #757575;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .misto-footer{
        color: white;
        font-weight: 400;
        font-size: 14px;   
    }
    .div-footer{
        display: flex;
        justify-content: center;
    }     
}
@media screen and (min-width: 768px) and (max-width: 1112px){
    .visuali_hidden2{
        display: none;
    }
    .conteiner{
        display: flex;
        justify-content: space-between;
    } 
    .page-body{
        height: 80px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 133.12px;
        height: 17.76px; 
        margin-left: 15px;
        margin-top: 35px;
    }
    .web{
        font-size: 17px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 17px;
        color: black;
    }
    .ul-header{
        display: flex;
        justify-content: center;
        font-size: 14px;
        margin-top: 35px;
    }
    .ul-header-li{
        margin-right: 54px;
    }
    .ul-header-li:nth-child(2) a{
        color: #2196F3;
    }
    .ul-header-li:last-child{
        margin-right: 0;
    }
    .ul-header a{
        color: #212121;
    }
    .ul-header-contact{
        display: flex;
        flex-wrap: wrap;
        width: 160px;
        height: 30px;
        margin-top: 23px;
        margin-right: 17px;
        font-size: 14px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    .adc:first-child{
        height: 16px;
        margin-bottom: 10px;
    }
    .header{
        color: #757575;
    }
    .svg-header{
        margin-right: 10px;
    }
    .adc:hover > a{
        fill: #2196F3;
        color: #2196F3;
    }
    .nav-2{
        margin-top: 94px;
    }
    .main-nav-ul{
        display: flex;
        justify-content: center;
        margin-left: 15px;
    }
    .li1-a{
        color: #212121;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 38px;
        border-radius: 4px;
        background-color: #f5f4fa;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .li1-a{
        width: 73px;
        margin-bottom: 15px;
    }
    .li1-a2{
        width: 128px;
        margin-bottom: 15px;
    }
    .li1-a3{
        width: 145px;
        margin-bottom: 15px;
    }
    .li1-a4{
        width: 103px;
    }
    .li1-a5{
        width: 130px;
    }
    .li1-a:hover{
        background-color: #2196F3;
        color: white;
    }
    .ul-main-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .li-photo{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 354px;
        height: 440px;
        border:1px solid #EEEEEE;
        margin-bottom: 30px;
        margin-right: 30px;
        transition: box-shadow .3s ease-in-out;
    }

    .li-photo:nth-child(2n){
        margin-right: 0;
    }

    .li-photo:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .li-photo:last-child{
        margin-bottom: 60px;
    }
    .overflow{
        height: 170px;
        padding: 63px 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        position: absolute;
        bottom: 145px;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    .li-photo:hover .overflow{
        opacity: 1;
    }
    .li-photo img{
        width: 354px;
        height: 294px;
    }
    .li-photo-h3{
        width: 402px;
        height: 36px;
        margin: 20px 24px 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #212121;
    }
    .li-photo-p{
        width: 402px;
        height: 30px;
        margin: 0 24px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #757575;
    }
    footer{
        width: 100%;
        height: 463px;
        background-color: #2F303A;
        padding-top: 65px;
    }
    .logo-f{
        margin-left: 125px;
    }
    .web-1{
        font-size: 24px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio-1{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        color: white;
    }
    .ul-footer{
        width: 205px;
        height: 68px;
        margin-left: 90px;
    }
    .ul-footer li:first-child{
        margin-top: 20px;
        color: white;
    }
    .ul-footer li{
        padding-top: 9px;
        color: #757575;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .misto-footer{
        color: white;
        font-weight: 400;
        font-size: 14px;   
    }
    .footer-h3{
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-top: 60px;
        display: flex;
        justify-content: flex-end;
        margin-right: 135px;
        margin-top: -110px;
    }
    .img-ul-footer{
        width: 20px;
        height: 20px;
        fill: white;
    }
    .svg-image{
        display: flex;
        justify-content: flex-end;
        margin-right: 80px;
    }
    .abc-footer{
        width: 44px;
        height: 44px;
        background-color:#757575;
        border-radius: 100px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .abc-footer:last-child{
        margin-right: 0;
    }
    .abc-footer:hover{
        background-color: #2196F3;
    }
}
@media screen and (min-width:1112px) and (max-width:1600px){
    .visuali_hidden3{
        display: none;
    }
    .page-body{
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
    .conteiner{
        margin-top: 24px;
    }
    .logo{
        margin-left: 215px;
        justify-content: flex-start;
        margin-top: 24px;
    }
    .web{
        font-size: 26px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        color: black;
    }
    .ul-header{
        display: flex;
        font-size: 14px;
        margin-left: -100px;
        margin-top: 32px;
    }
    .ul-header-li:nth-child(2) a{
        color: #2196F3;
    }
    .ul-header a{
        color: #212121;
        margin-right: 55px;
    }
    
    .ul-header-contact{
        display: flex;
        font-size: 14px;
        margin-top: 32px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }
    .ul-header-contact li{
        height: 16px;
    }
    .header{
        color: #757575;
        margin-right: 50px;
    }
    .svg-header{
        margin-right: 10px;
    }
    .adc:hover > a{
        fill: #2196F3;
        color: #2196F3;
    }
    .nav-2{
        margin-top: 94px;
    }
    .main-nav-ul{
        display: flex;
        justify-content: center;
        margin-left: 15px;
    }
    .li1-a{
        color: #212121;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        height: 38px;
        border-radius: 4px;
        background-color: #f5f4fa;
        margin-right: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .li1-a{
        width: 73px;
        margin-bottom: 15px;
    }
    .li1-a2{
        width: 128px;
        margin-bottom: 15px;
    }
    .li1-a3{
        width: 145px;
        margin-bottom: 15px;
    }
    .li1-a4{
        width: 103px;
    }
    .li1-a5{
        width: 130px;
    }
    .li1-a:hover{
        background-color: #2196F3;
        color: white;
    }
    .ul-main-2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .li-photo{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 354px;
        height: 440px;
        border:1px solid #EEEEEE;
        margin-bottom: 30px;
        margin-right: 30px;
        transition: box-shadow .3s ease-in-out;
    }
    .li-photo:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    .overflow{
        height: 170px;
        padding: 63px 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #fff;
        position: absolute;
        bottom: 145px;
        background-color: rgba(33, 150, 243, 0.9);
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    .li-photo:hover .overflow{
        opacity: 1;
    }
    .li-photo img{
        width: 354px;
        height: 294px;
    }
    .li-photo-h3{
        width: 402px;
        height: 36px;
        margin: 20px 24px 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        color: #212121;
    }
    .li-photo-p{
        width: 402px;
        height: 30px;
        margin: 0 24px 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #757575;
    }
    footer{
        width: 100%;
        height: 463px;
        background-color: #2F303A;
        padding-top: 65px;
    }
    .logo-f{
        margin-left: 125px;
    }
    .web-1{
        font-size: 24px;
        color: #2196F3;
        font-family: 'Raleway', sans-serif;
    }
    .stuidio-1{
        font-weight: bold;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        color: white;
    }
    .ul-footer{
        width: 205px;
        height: 68px;
        margin-left: 90px;
    }
    .ul-footer li:first-child{
        margin-top: 20px;
        color: white;
    }
    .ul-footer li{
        padding-top: 9px;
        color: #757575;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
    }
    .misto-footer{
        color: white;
        font-weight: 400;
        font-size: 14px;   
    }
    .footer-h3{
        color: white;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        margin-top: 60px;
        display: flex;
        justify-content: flex-end;
        margin-right: 135px;
        margin-top: -110px;
    }
    .img-ul-footer{
        width: 20px;
        height: 20px;
        fill: white;
    }
    .svg-image{
        display: flex;
        justify-content: flex-end;
        margin-right: 80px;
    }
    .abc-footer{
        width: 44px;
        height: 44px;
        background-color:#757575;
        border-radius: 100px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .abc-footer:hover{
        background-color: #2196F3;
    }
}
