h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}
body{
    margin: 0;
    width: 1600px;
}
.conteiner{
    display: flex;
    justify-content: flex-start;
}
.page-body{
    height: 80px;
}
.logo{
    margin-left: 215px;
    justify-content: flex-start;
    margin-top: 24px;
}
.web{
    font-size: 26px;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}
.stuidio{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: black;
}
.ul-header{
    display: flex;
    font-size: 14px;
    margin-left: 93px;
    margin-top: 32px;
}
.ul-header a{
    color: #212121;
    margin-right: 55px;
}
.ul-header-contact{
    display: flex;
    font-size: 14px;
    margin-top: 32px;
    margin-left: 309px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.ul-header-contact li{
    height: 16px;
}
.ull2{
    text-align: center;
}
.header{
    color: #757575;
    margin-right: 50px;
}

.header:hover{
    color: #2196F3;
}
.svg-header{
    margin-right: 10px;
}
.svg-header:hover{
    fill: #2196F3;
}
.section1{
    width: 1600px;
    height: 600px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)) , url(./Img\ копія.png);
}
.section1 h1{
    color: white;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    padding-top: 200px;
}
.section1 button{
    color: white;
    margin-top: 40px;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border: 1px solid #2196F3;
    border-radius: 4px;
    margin-left: 700px;
}
.ul-section2 li{
    width: 270px;
    height: 251px;
    display: inline-block;
    margin-left: 30px;
}
.div-img-section2{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-top: 94px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-section2 h4{
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    color: #212121;
}
.ul-section2 p{
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}
.ul-section2:first-child{
    margin-left: 215px;
}
.section2 h2{
    margin-top: 94px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.ul2-section2{
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}
.ul2-section2 img{
    margin-right: 30px;
}
.ul2-section2:first-child{
    margin-left: 50px;
}
.section3{
    width: 1600px;
    height: 708px;
    background-color:#F5F4FA;
}
.section3 h2{
    margin-top: 94px;
    padding-top: 94px;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}
.ul-section3 li{
    display: inline-block;
    width: 270px;
    height: 428px;
    border: 1px solid white;
    background-color: white;
    margin-right: 30px;
}
.ul-section3 img{
    width: 270px;
    height: 260px;
}
.ul-section3 h4{
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    margin: 30px 0 10px 0;
}
.ul-section3 p{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}
.ul-section3{
    margin-top: 94px; 
    display: flex;
    justify-content: center;
}
.svg-image{
    display: flex;
}
.abc:first-child{
    margin-left: 30px;
}
.abc{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 10px 30px 10px;
}
.img-ul{
    fill:#AFB1B8;
    width: 20px;
    height: 20px;
}
.abc:hover{
    background-color: #2196F3;
    border-radius: 100%;
}
.img-ul:hover{
    fill: white;
}
.section4{
    height: 277px;
    width: 1600px;
    background-color: white;
}
.section4-h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-top: 94px;
}
.section4-ul{
    display: flex;
    justify-content: center;
}
.section4-ul li{
    width: 170px;
    height: 90px;
    border: 2px solid #AFB1B8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 0 0;
}
.img-section4{
    fill: #757575;
}
.img-section4:hover{
    fill: #2196F3;
}
.section4-ul li:hover{
    border-color: #2196F3;
}
footer{
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
    padding-top: 60px;
}
.logo-f{
    margin-left: 215px;
}
.web-1{
    font-size: 26px;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}
.stuidio-1{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: white;
}
.footer-h3{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left:516px;
    margin-top: -19px;
}
.img-ul-footer{
    width: 20px;
    height: 20px;
    fill: white;
}
.abc-footer{
    width: 44px;
    height: 44px;
    background-color:#757575;
    border-radius: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.abc-footer:last-child{
    margin-right: 0;
}
.abc-footer_1{
    margin-left: 516px;
}
.abc-footer:hover{
    background-color: #2196F3;
}
.ul-footer li:first-child{
    margin-top: -40px;
    color: white;
}
.ul-footer li{
    margin: 9px 0 0 215px;
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}
.misto-footer{
    color: white;
    font-weight: 400;
    font-size: 14px;   
}
