.logo-f{
    margin-top: 60px;
}
.web-1{
    font-size: 24px;
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
}
.stuidio-1{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: white;
}